<ul class="row">
    <li class="">
        <a [routerLink]="['/admin/interfaceSpecification']" routerLinkActive="router-link-active"
            ><i class="far fa-eye"></i>INTERFACE-SPEC
        </a>
    </li>
    <li class="">
        <a [routerLink]="['/admin/category']" routerLinkActive="router-link-active"
            ><i class="fas fa-box-open"></i>CATEGORY
        </a>
    </li>
    <li class="">
        <a [routerLink]="['/admin/product']" routerLinkActive="router-link-active"
            ><i class="fab fa-product-hunt"></i>PRODUCT
        </a>
    </li>
    <li class="">
        <a [routerLink]="['/admin/user']" routerLinkActive="router-link-active"
            ><i class="fas fa-users"></i>USER
        </a>
    </li>
    <li class="">
        <a [routerLink]="['/admin/cart']" routerLinkActive="router-link-active"
            ><i class="fas fa-shopping-cart"></i>CART
        </a>
    </li>
</ul>
