<div id="lang-selector" class="lang" type="vi">
    <p i18n>Language&nbsp;</p>
    <select name="flag-country" id="flag-country">
        <option value="VN" selected>VN</option>
        <option value="EN" selected>EN</option>
    </select>
</div>

<hr/>

<div id="user-status">
    <ul>

    </ul>
</div>

<div id="brand-name">
    <h1 class="header">
        <span class="brand-label">X.A</span>
        <span class="brand-postfix" style="font-weight: lighter;opacity: 0.6;"
            >Leather</span
        >
    </h1>
    <div class="">
        <p class="txt-typer"></p>
    </div>
    <p class="short-intro" i18n>
        Làm sao để đường xưa, đừng in dấu chân anh mỗi ngày.
        <br />
        Làm sao cho lòng anh thôi, gọi tên em trong mỗi giấc mơ.
    </p>
</div>
<div id="sub-nav">
    <ul class="row">
        <li class="col">
            <button type="button" class="col btn btn-hover-animate">
                <i class="fas fa-home"></i>HOME
            </button>
        </li>
        <li class="col">
            <button type="button" class="col btn btn-hover-animate">
                <i class="fas fa-shopping-cart"></i>CART
            </button>
        </li>
        <li class="col">
            <button type="button" class="col btn btn-hover-animate">
                <i class="fas fa-info-circle"></i>ABOUT
            </button>
        </li>
    </ul>
</div>
