<h1 class="h1-panel">User List Panel</h1>
<router-outlet></router-outlet>
<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['create']"
            ><mat-icon>add</mat-icon></a
        >
    </div>
    <div class="mat-elevation-z8">
        <table
            mat-table
            [dataSource]="dataSource"
            class="example-table"
            matSort
            matSortActive="email"
            matSortDisableClear
            matSortDirection="asc"
        >
            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let row">{{ row._id }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>email</th>
                <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>name</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                [routerLink]="['details/', row._id]"
            ></tr> -->
        </table>
    </div>
</div>

<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResultsSaD">
        <mat-spinner *ngIf="isLoadingResultsSaD"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/user']"
            ><mat-icon>list</mat-icon></a
        >
    </div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title
                ><h2>{{ user.name }}</h2></mat-card-title
            >
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>User Id</dt>
                <dd>{{ user._id }}</dd>

                <dt>User Email</dt>
                <dd>{{ user.email }}</dd>

                <dt>User Name</dt>
                <dd>{{ user.name }}</dd>

                <!-- <dt>Stauts</dt>
                <dd>{{ user.status }}</dd>

                <dt>Created Date</dt>
                <dd>{{ user.createdDate }}</dd> -->
            </dl>
        </mat-card-content>
        <mat-card-actions>
            <a
                mat-flat-button
                color="primary"
                [routerLink]="['edit', user._id]"
                ><mat-icon>edit</mat-icon></a
            >
            <a mat-flat-button color="warn" (click)="deleteUser()"
                ><mat-icon>delete</mat-icon></a
            >
        </mat-card-actions>
    </mat-card>
</div>
<router-outlet></router-outlet>
