<div chckLoc="Intro" class="AboutMe">
    <ng-container>
        <div class="row1" id="row1">
            <div id="contact">
                <div class="name">
                    <h1>Huỳnh</h1>
                    <h1>Trung Tín</h1>
                </div>
                <div class="contact-info">
                    <mat-icon class="icon">contact_phone</mat-icon>
                    <p class="private-info">0905265791</p>
                </div>
                <div class="contact-info">
                    <mat-icon class="icon">email</mat-icon>
                    <p class="private-info">TinTrungHuynh.Alviss@gmail.com</p>
                </div>
            </div>
            <div id="panel">
                <ng-container>
                    <h1>CAREER OBJECTIVE</h1>
                    <p class="career-objective">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nostrum placeat eligendi, quo dicta assumenda minus
                        corrupti, similique earum est recusandae nemo ut
                        repudiandae sunt magni cum tenetur id, veniam ipsam.
                    </p>
                </ng-container>
            </div>
        </div>

        <div class="full-width row2" id="row2">
            <div id="milestones-area">
                <div year class="y2017">
                    <div class="milestones first-year">
                        <div class="Month July">
                            <p>July</p>
                        </div>
                        <div class="Month September">
                            <p>September</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="Month July">
                            <p class="info-content">
                                Starting Working At DOUNETS
                            </p>
                            <ul>
                                <li>Works With EDI Technology</li>
                                <li>
                                    Convert An Existing Web To Mobile-Friendly
                                    Version
                                </li>
                            </ul>
                            <div class="technologies">
                                <img
                                    src="/assets/Icons/icon-javascript.jpg"
                                    class="icon-skill btn-hover-animate"
                                    alt="JavaScript"
                                    title="JavaScript"
                                />
                                <img
                                    src="/assets/Icons/icon-html5.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="HTML5"
                                    title="HTML5"
                                />
                                <img
                                    src="/assets/Icons/icon-bootstrap.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="Bootstrap"
                                    title="Bootstrap"
                                />
                            </div>
                        </div>
                        <div class="Month September">
                            <p class="info-content">
                                Graduated From FPT-Aptech Computer Education HCM
                                (Higher Diploma)
                            </p>
                        </div>
                    </div>
                </div>
                <div year class="y2018">
                    <div class="milestones">
                        <div class="Month May">
                            <p>May</p>
                        </div>
                        <div class="Month June">
                            <p>June</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="Month May">
                            <p class="info-content">Stop Working At DOUNETS</p>
                        </div>
                        <div class="Month June">
                            <p class="info-content">
                                Start Working As Freelancer
                            </p>
                            <div class="technologies">
                                <img
                                    src="/assets/Icons/icon-javascript.jpg"
                                    class="icon-skill btn-hover-animate"
                                    alt="JavaScript"
                                    title="JavaScript"
                                />
                                <img
                                    src="/assets/Icons/icon-html5.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="HTML5"
                                    title="HTML5"
                                />
                                <img
                                    src="/assets/Icons/icon-bootstrap.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="Bootstrap"
                                    title="Bootstrap"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div year class="y2019">
                    <div class="milestones">
                        <div class="Month June">
                            <p>June</p>
                        </div>
                    </div>
                    <div class="info last-info">
                        <div class="Month June">
                            <p class="info-content">
                                Starting Learning MEAN Stack
                            </p>
                            <p class="info-content">
                                Demo:
                                <span
                                    ><a href="https://bit.ly/xa-demo"
                                        >bit.ly/xa-demo</a
                                    ></span
                                >
                            </p>
                            <div class="technologies">
                                <img
                                    src="/assets/Icons/icon-mongodb.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="MongoDB"
                                    title="MongoDB"
                                    tooltip
                                />
                                <img
                                    src="/assets/Icons/icon-expressjs.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="ExpressJS"
                                    title="ExpressJS"
                                />
                                <img
                                    src="/assets/Icons/icon-angular.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="Angular"
                                    title="Angular"
                                />
                                <img
                                    src="/assets/Icons/icon-nodejs.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="Nodejs"
                                    title="Nodejs"
                                />
                                <img
                                    src="/assets/Icons/icon-graphql.png"
                                    class="icon-skill btn-hover-animate"
                                    alt="Graphql"
                                    title="Graphql"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="why-me">
                <section class="experience">
                    <article>
                        <h1>Title</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Neque molestias animi unde dicta natus omnis
                            magnam tempore fuga hic reiciendis! Explicabo in
                            earum et labore, temporibus nemo delectus error
                            accusantium?
                        </p>
                    </article>
                </section>
                <section class="additional-skills">
                    <article name=""></article>
                    <div class="technologies">
                        <img
                            src="/assets/Icons/icon-javascript.jpg"
                            class="icon-skill btn-hover-animate"
                            alt="JavaScript"
                            title="JavaScript"
                        />
                        <img
                            src="/assets/Icons/icon-html5.png"
                            class="icon-skill btn-hover-animate"
                            alt="HTML5"
                            title="HTML5"
                        />
                        <img
                            src="/assets/Icons/icon-bootstrap.png"
                            class="icon-skill btn-hover-animate"
                            alt="Bootstrap"
                            title="Bootstrap"
                        />
                    </div>
                </section>
            </div>
        </div>
    </ng-container>
</div>
