@media print {
    @page {
        margin: none;
    }
    body {
        width: 21cm;
        height: 29.7cm;
    }
}

@media not print {
    p {
        font-size: 1.2vw;
    }

    li {
        font-size: 1vw;
        // margin-left: 1vw;
    }
    @media screen and (min-width: 3000px) {
        p,
        li {
            margin-left: 1.5vw;
        }
    }
}

// Variable
$double-border-white-width: 1.5rem;
$border-double-white: $double-border-white-width double #fff;
$border-solid-white: calc(#{$double-border-white-width}/ 3) solid #fff; // divided for 3 because border double style has 3 parts: solid/space/solid
$main-purple: rgb(84, 43, 124);

// Technology icons
.technologies {
    display: inline;
    > img {
        margin: 0.5vw;
        width: 2vw;
        height: 2vw;
    }
}

@mixin milestones {
    .milestones {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        border-right: 0.5rem solid #fff;
        $font-size-after: 1.5vw;
        &:after {
            position: absolute;
            left: 1rem;
            color: rgba(#33334d, 0.9);
            font-weight: 1000;
            font-size: $font-size-after;
        }
        &:not(.first-year):after {
            bottom: calc(#{$font-size-after}* -0.8);
        }
        .Month {
            width: 100%;
            > p {
                height: 100%;
                text-align: end;
                margin-right: 0.3rem;
                color: rgba(#33334d, 0.8);
            }
        }
    }
}

@mixin info {
    .info {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 1rem 0 1rem;
        &:not(.last-info) {
            border-top: 0.2rem solid #fff;
        }
    }
}

@mixin background-keyboard {
    background: url("~/assets/Imgs/introduce_keyboard.jpg") rgba(#333, 0.4)
        no-repeat;
    background-position: 0% 65%;
    background-size: 100%;
    background-blend-mode: overlay;
}

hr {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border: 0;
    border-top: 0.1rem solid #fff;
}

div[chckLoc="Intro"] {
    margin: 1rem;
    min-width: 110rem;
    overflow: hidden;
    .homepage {
        max-width: 80%;
        margin: auto;
        margin-bottom: 2rem;
        position: relative;
        > i {
            margin-right: 2rem;;
        }
        .address-bar {
            background: silver;
            min-width: 100%;
            &:after{
                content: ""
            }
        }
    }
    .row1 {
        @include background-keyboard();
    }
    [name="contact"] {
        text-align: center;
        border-right: $border-double-white;
        background: rgba(#33334d, 0.8);
        position: relative;
        .name {
            margin: 1rem 0 0 0;
            > h1 {
                color: rgba(219, 35, 243, 0.4);
                font-family: "Pacifico", cursive;
                font-size: 6rem;
                font-weight: 1000;
                letter-spacing: 0.5rem;
                -webkit-text-stroke: 0.2rem rgba(255, 255, 255, 1);
                text-transform: capitalize;
                &:last-child {
                    margin-bottom: 2rem;
                }
            }
        }
        .contact-info {
            display: flex;
            justify-content: flex-start;
            color: rgba($main-purple, 0.9);
            background: rgba(#fff, 0.7);
            overflow: hidden;
            margin: 1rem 0 1rem -2rem;
            .icon {
                margin: 0.5rem 1.5rem 0.5rem 4rem;
                font-size: 3rem;
                color: $main-purple;
            }
            .private-info {
                margin: 0.5rem 0.5rem;
                font-weight: 600;
                font-size: 2rem;
            }
        }
    }
    [name="panel"] {
        color: #fff;
        display: inline;
        // border-bottom: $border-double-white;
        background: rgba(#333, 0.8);
        background-blend-mode: overlay;
        > h1 {
            margin: 2rem;
        }
        .career-objective {
            margin: 2rem 2rem 2rem 4rem;
            text-align: justify;
        }
    }

    .row2 {
        display: flex;
    }

    [name="milestones-area"] {
        min-height: 80vh;
        width: calc(
            40% - #{$double-border-white-width}/ 3
        ); // divided for 3 because border double style has 3 parts: solid/space/solid
        border-right: $border-solid-white;
        background: rgba(#333, 0.2);
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        [year] {
            width: 100%;
            @include milestones();
            @include info();
            &.y2017 {
                height: 45%;
                .milestones {
                    &:after {
                        content: "2017";
                    }
                    .July {
                        height: 60%;
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    }
                    .September {
                        height: 30%;
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    }
                }
                .info {
                    .July {
                        height: 60%;
                        position: relative;
                    }
                    .September {
                        height: 30%;
                        position: relative;
                    }
                }
            }
            &.y2018 {
                height: 20%;
                .milestones {
                    &:after {
                        content: "2018";
                    }
                    .May {
                        height: 50%;
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    }
                    .June {
                        height: 30%;
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    }
                }
                .info {
                    .May {
                        height: 50%;
                        position: relative;
                    }
                    .June {
                        height: 30%;
                        position: relative;
                    }
                }
            }
            &.y2019 {
                height: 35%;
                .milestones {
                    &:after {
                        content: "2019";
                    }
                    .May {
                        height: 60%;
                        display: flex;
                        flex-direction: column-reverse;

                        position: relative;
                    }
                    .September {
                        height: 30%;
                        display: flex;
                        flex-direction: column-reverse;

                        position: relative;
                    }
                }
                .info {
                    .May {
                        height: 60%;
                        position: relative;
                    }
                    .September {
                        height: 30%;
                        position: relative;
                    }
                }
            }
        }
    }

    [name="icon-skills"] {
        min-height: 80vh;
        width: calc(60% + #{$double-border-white-width}/ 1 / 3);
        background: rgba(#333, 0.2);
    }
}
